.main-form {
  position: relative;

  display: flex;

  color: $color-default-white;

  background-color: $main-blue;
}

.form__title {
  margin: 0 0 12px;
  padding: 0;

  font-size: 36px;
  line-height: 51px;
  font-family: $header-font;

  @include vp-1023 {
    margin: 0 0 7px;
  }

  @include vp-767 {
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
  }
}

.form__img-container {
  width: 50%;
  margin-right: -40px;
  background: linear-gradient(to bottom right, rgba($goods-bg, 0.5) 50%, $main-blue 50%, $main-blue 50%);

  @include vp-1023 {
    display: none;
  }

  img {
    margin-top: 246px;
    margin-right: 100px;
    margin-left: auto;
  }
}

.form__container {
  width: 50%;
  margin-top: 165px;
  margin-bottom: 243px;

  @include vp-1023 {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 125px;
  }

  @include vp-767 {
    margin-bottom: 84px;
  }

  p {
    margin: 0 0 35px;
    padding: 0;

    @include vp-1023 {
      margin: 0 0 25px;
    }

    @include vp-767 {
      margin: 0 0 35px;

      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.form__block {
  display: flex;

  &--info {
    display: grid;
    margin-bottom: 32px;
    gap: 20px 30px;
    // grid-template-columns: repeat(2, 275px);

    @include vp-1023 {
      grid-template-columns: repeat(2, 320px);
    }

    @include vp-767 {
      display: block;
      margin-bottom: 10px;
    }

    .modal & {
      display: block;
      margin-bottom: 5px;
    }
  }

  &--button {
    align-items: baseline;

    @include vp-1023 {
      align-items: center;
    }

    @include vp-767 {
      display: block;
    }

    .modal & {
      display: block;
    }
  }
}

.form__field {
  input,
  textarea {
    width: 100%;
    padding: 15px;

    color: $color-default-white;

    background-color: rgba($goods-bg, 0.15);
    border: none;
    border-radius: 3px;

    @include vp-767 {
      margin-bottom: 20px;
    }

    &::placeholder {
      color: $color-default-white;
    }
  }

  .modal & {
    margin-bottom: 20px;
  }

  textarea {
    min-height: 155px;
    padding-top: 25px;

    @include vp-1023 {
      padding-top: 32px;
    }

    @include vp-767 {
      min-height: 180px;
      padding-top: 26px;
    }
  }

  &--textarea {
    grid-column-end: 3;
    grid-column-start: 1;
  }
}

.form__button {
  display: block;
  min-width: 265px;
  min-height: 45px;
  margin-right: 50px;

  font-weight: 700;
  font-family: $header-font;
  text-transform: uppercase;

  background-color: $goods-bg;
  border-radius: 3px;

  @include vp-1023 {
    margin-right: 85px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
  }

  .modal & {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
  }
}

.form__label {
  font-size: 14px;
  line-height: 16px;

  opacity: 0.8;

  cursor: pointer;
}

.form__checkbox {
  position: relative;

  display: block;
  max-width: 235px;
  padding-left: 26px;

  font-size: 14px;
  line-height: 16px;

  cursor: pointer;

  @include vp-767 {
    max-width: 100%;
    padding-left: 31px;
  }

  .modal & {
    max-width: 100%;
    margin-left: 10px;
  }

  input {
    &:checked + .form__mark::before,
    &:checked + .form__mark::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 2px;

      width: 10px;
      height: 6px;

      background-image: url("../img/svg/mark.svg");
      background-repeat: no-repeat;
    }
  }
}

.form__mark {
  position: absolute;
  top: 4px;
  left: 0;

  width: 15px;
  height: 15px;

  background-color: $color-transparent;
  border: 1px solid $color-default-white;
  border-radius: 2px;

  @include vp-1023 {
    top: 10px;
  }

  @include vp-767 {
    top: 6px;
    left: 5px;
  }

  .modal & {
    top: 0;
  }
}
