.intro {
  padding: 283px 0 280px;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
    url("../../img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 58%;
  background-color: $text-color;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -95px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
      url("../../img/background-image@2x.jpg");
    background-size: cover;
  }

  @media (max-width: ($vp-1920 - 1)) {
    padding: 180px 0 205px;
    margin-top: -95px;
    background-position: 18%;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 125px 20px 190px;
    background-position: 25%;
  }
}

.intro h1 {
  font-family: $header-font;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $text-white;
  padding: 0 0 40px 0;
  margin: 0;

  @media (max-width: ($vp-1920 - 1px)) {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    padding: 0 0 20px 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 36px;
    line-height: 42px;
    padding: 0 0 8px 0;
  }
}

.intro p {
  font-family: $common-font;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: $text-white;
  margin: 0;
  padding-bottom: 40px;
  max-width: 685px;

  @media (max-width: ($vp-1920 - 1px)) {
    padding-bottom: 50px;
    min-width: 670px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 14px;
    min-width: 271px;
    padding-bottom: 45px;
  }
}

.intro__button {
  background-color: $main-blue;
  padding: 15px 27px;
  font-family: $header-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue-lightest;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  max-width: 720px;

  @include hover-focus {
    background-color: $color-deep-sky-blue-light;
    color: $text-white;
  }

  @include active {
    background-color: $color-deep-sky-blue-dark;
    color: $text-white;
  }

  @media (max-width: ($vp-1920 - 1px)) {
    margin-left: 45px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 100%;
    margin: 0;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 16px;
  }
}

.intro__desktop-text {
  @media (max-width: ($vp-768 - 1px)) {
    display: none;
  }
}

.intro__mobile-text {
  display: none;

  @media (max-width: ($vp-768 - 1px)) {
    display: block;
  }
}
