.intro {
  color: $text-white;
  padding: 282px 0 286px 0;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
    url("../img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 58%;
  background-color: $text-color;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: -95px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
      url("../img/background-image@2x.jpg");
    background-size: cover;
  }

  @include vp-1919 {
    padding-left: 25%;
    color: $text-white;
  }

  @include vp-1023 {
    padding: 156px 0 208px;
    margin-top: -95px;
    background-position: 18%;
  }

  @include vp-767 {
    padding: 125px 20px 190px;
    background-position: 25%;
  }

  @media (min-width: $desktop-width) {
    padding: 282px 0 286px 0;
  }
}

.intro__wrapper {
  padding-left: 25%;

  @include vp-1919 {
    color: $text-white;
    padding-left: 0;
  }

  @include vp-1023 {
    padding: 0 45px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    // padding: 0;
  }

  @media (min-width: ($vp-1920 + 1px)) {
    padding-left: 35%;
  }
}

.intro h1 {
  font-family: $header-font;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 5.3px;
  text-transform: uppercase;
  color: $text-white;
  padding: 0 0 34px 0;
  margin: 0;

  @include vp-1023 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    padding: 0;
    letter-spacing: 4.5px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    padding: 0 0 8px 0;
    letter-spacing: 3.5px;
  }
}

.intro p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: $text-white;
  margin: 0;
  padding-bottom: 40px;
  max-width: 685px;

  @include vp-1023 {
    padding-bottom: 58px;
    min-width: 670px;
  }

  @include vp-767 {
    font-size: 14px;
    min-width: 271px;
    padding-bottom: 45px;
  }
}

.intro__button {
  background-color: $main-blue;
  padding: 15px 27px;
  font-family: $header-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue-lightest;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  max-width: 720px;

  @include hover-focus {
    background-color: $color-deep-sky-blue-light;
    color: $text-white;
  }

  @include active {
    background-color: $color-deep-sky-blue-dark;
    color: $text-white;
  }

  @include vp-1023 {
    margin-left: 50px;
    padding: 15px 27px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 16px;
  }
}

.intro__desktop-text {
  @include vp-767 {
    display: none;
  }

  @include vp-1023 {
    letter-spacing: 1px;
  }
}

.intro__mobile-text {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.intro a {
  color: $text-white;
}
